name: Run Selenium Script

on:
  workflow_dispatch:   # Only manual trigger for now

jobs:
  selenium-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PAT: ${{ secrets.DOCKERHUB_PAT }}
        run: echo "${DOCKERHUB_PAT}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin

      - name: Pull Docker image from private repo
        run: docker pull nandhakumar1505/naukri-script:latest

      - name: Run Selenium script
        env:
          NAUKRI_EMAIL: ${{ secrets.NAUKRI_EMAIL }}
          NAUKRI_PASSWORD: ${{ secrets.NAUKRI_PASSWORD }}
        run: docker run --rm \
              -e NAUKRI_EMAIL="${NAUKRI_EMAIL}" \
              -e NAUKRI_PASSWORD="${NAUKRI_PASSWORD}" \
              yourdockerhubusername/naukri-script:latest